<html lang="en">
<head>
    <!--<% include ../partials/head %>-->
</head>
<body class="container">

<header>
    <!--<% include ../partials/header %>-->
</header>

<main>

    <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <form action="/auth" method="post">
               <label>Email</label>
            <input type="text" name="email"> <br>

            <label>Password</label>
            <input type="text" name="password"><br>
            <input type="hidden"name="usertype" value="admin">


            <br><button type="submit">Submit</button>
        </form>
    </div>
</main>

<footer>
    <!--<% include ../partials/footer %>-->
</footer>

</body>
</html>